################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstate/RealEstate/obj/Debug/netstandard2.0
