@model  ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutDasboard.cshtml";
}

      <div class="row">
                         
                                <div class="dashboard-list">
                                    <h3 class="heading">Change Password</h3>
                                    <div class="dashboard-message contact-2">
                                        @Html.ValidationSummary(false, "", new {@class="text-danger" })
                                        <form action="@Url.Action("ChangePassword","Account")" method="post" >
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <div class="form-group name">
                                                        <label>Current Password</label>
                                                        <input type="password" name="current-password" class="form-control" placeholder="Current Password" asp-for="CurrentPassword">

                                                    </div>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group email">
                                                        <label>New Password</label>
                                                        <input type="password" name="NewPassword" class="form-control" placeholder="New Password" asp-for="NewPassword">

                                                    </div>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="form-group subject">
                                                        <label>Confirm New Password</label>
                                                        <input type="password" name="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password" asp-for="ConfirmNewPassword">

                                                    </div>
                                                </div>
                                                <div class="col-lg-7">
                                                    <div class="send-btn">
                                                        <button type="submit" class="btn btn-md button-theme">Change Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                           
                        </div>

