@model PasswordRecoveryVM
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "RecoverPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Form content box start -->
        <div class="form-content-box">
            <!-- details -->
            <div class="details">
                <!-- Logo -->
                <a href="@Url.Action("Index","Home")">
                    <img src="~/img/logos/logo.jpeg" class="cm-logo" alt="black-logo" width="100">
                </a>
                <!-- Name -->
                <h3>Recover your password</h3>
                <!-- Form start -->
                <form method="post" asp-controller="Account" asp-action="RecoverPasswordPost">
                    @Html.Hidden("EmailAddress", HttpContextAccessor.HttpContext.Request.Query["EmailAddress"])
                    @Html.Hidden("Code", HttpContextAccessor.HttpContext.Request.Query["Code"])
                    <div class="form-group">

                        <input type="password" class="input-text" placeholder="password" asp-for="Password" name="Password">
                        <span asp-validation-for="Password" class="text-dark"></span>
                    </div>
                    <div class="form-group">

                        <input type="password" class="input-text" placeholder="confirm password" asp-for="ConfirmPassword" name="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-dark"></span>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn-md button-theme btn-block">Reset Password</button>
                    </div>
                </form>
                <!-- Social List -->

            </div>
            <!-- Footer -->
            <div class="footer">
                <span>Already a member? <a href="@Url.Action("Login","Account")">Login here</a></span>
            </div>
        </div>
        <!-- Form content box end -->
    </div>
</div>

