
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div>
                        <div class="row row-3 none-768">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 search-col">
                                <select class="selectpicker search-fields" name="any-status">
                                    <option>Any Status</option>
                                    <option>For Rent</option>
                                    <option>For Sale</option>
                                </select>
                            </div>
                         
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 search-col">
                              <input class="form-control" placeholder="Search by location" id="location" style="font:500"/>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12  search-col">
                                <button class="btn button-theme btn-search btn-block">
                                    <i class="fa fa-search"></i><strong>Find</strong>
                                </button>
                            </div>
                        </div>
                        <div class="row row-3">
                            <div class="col-lg-12">
                                <div class="row row-4">
                                    <a class="show-more-options" data-toggle="collapse" data-target="#options-content">
                                        <i class="fa fa-plus-circle"></i> Other Features
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 search-col">
                                <div id="options-content" class="collapse mt-20">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2">
                                                    Air Condition
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3">
                                                    Places to seat
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4">
                                                    Swimming Pool
                                                </label>
                                            </div>
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">
                                                    Free Parking
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                            <div class="row">
                                                <div class="col-sm-12 col-6">
                                                    <div class="checkbox checkbox-theme checkbox-circle">
                                                        <input id="checkbox7" type="checkbox">
                                                        <label for="checkbox7">
                                                            Central Heating
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-6">
                                                    <div class="checkbox checkbox-theme checkbox-circle">
                                                        <input id="checkbox5" type="checkbox">
                                                        <label for="checkbox5">
                                                            Laundry Room
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>